{% extends "operations/base_staff.html" %}



{% load i18n %}



{% block page_title %}{% if object %}{% trans "Edit client" %}{% else %}{% trans "New client" %}{% endif %}{% endblock %}



{% block content %}



<div class="staff-form-wrap staff-form-wrap--wide">

    <form class="staff-form staff-form--compact" method="post" novalidate>

        {% csrf_token %}

        <div class="row">

            <label class="col-8"><span>{% trans "Full name" %}</span>{{ form.full_name }}</label>
            <label class="col-4"><span>{% trans "Sex" %}</span>{{ form.sex }}</label>

        </div>

        <div class="row">
            <label class="col-4"><span>{% trans "Email" %}</span>{{ form.email }}</label>
            <label class="col-4"><span>{% trans "Phone" %}</span>{{ form.phone }}</label>
            <label class="col-4"><span>{% trans "ID / passport" %}</span>{{ form.id_number }}</label>
        </div>
        <div class="row">
            <label class="col-12"><span>{% trans "Address" %}</span>{{ form.address }}</label>
        </div>

        <div class="row">
            <label class="col-12"><span>{% trans "Internal notes" %}</span>{{ form.notes }}</label>
        </div>

        <div class="row">

            <label class="staff-check staff-check--block col-12">

                {{ form.is_active }}

                <span>{% trans "Active client" %}</span>

            </label>

        </div>



        <div class="staff-form-actions">

            <button class="button primary" type="submit">{% trans "Save client" %}</button>

            <a class="button ghost" href="{% url 'staff:client_list' %}">{% trans "Cancel" %}</a>

        </div>

    </form>

</div>



{% endblock %}

